/* src/features/admin-leads/components/LeadCard/LeadCard.module.css */
.card {
  border: 2px solid var(--color-orange-primary); /* Usando tus variables de color */
  border-radius: 20px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.editBtn,
.deleteBtn {
  border: 2px solid var(--color-orange-primary);
  background: var(--color-orange-primary);
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-style: bold;
}
